<!-- This template will be same as base.html but we can override anything we want -->
<!-- - Full Name (50 characters, required)
    - Address 1 (100 characters, required)
    - Address 2 (100 characters, optional)
    - City (100 characters, required)
    - State (Drop Down, selection required) DB will store 2 character state code
    - Zipcode (9 characters, at least 5 character code required) -->
{% extends "base.html" %} 
{% block title %}Home{% endblock %}

{% block content %}
<h3 align="left">Homepage</h3>
{% endblock %}